<div class="container-fluid">
  <div class="row justify-content md center">
    <table class="table table-bordered table-striped table-hover table-sm table-dark">
      <thead class="thead-light">
        <tr>
          <th>-&nbsp;&nbsp;&nbsp;&nbsp;EXT&nbsp;&nbsp;&nbsp;&nbsp;-</th>
          <th><span style="visibility: hidden;">MM</span>Status<span style="visibility: hidden;">MM</span></th>
          <th>Duration</th>
          <th>Avg. Idle</th>
          <th>In</th>
          <th>Out</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ext of getListOfExtensions()">
          <td [ngClass]="ext.activeIClass">{{ ext.firstName }}</td>
          <td class="capitalize" [ngClass]="ext.activeIClass">{{ ext.subStatus ? ext.subStatus : ext.status }}</td>
          <td [ngClass]="ext.activeIClass">{{ ext.activeTime }}</td>
          <td [ngClass]="ext.idleClass">{{ ext.averageIdleTime }}</td>
          <td>{{ ext.iCalls }}</td>
          <td>{{ ext.oCalls }}</td>
          <td>{{ ext.tCalls }}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>
